// you can change colors here
@font-face {
    font-family: "HarmonyOS_Sans_SC_Medium";
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/irozhi/HarmonyOS-Sans/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/irozhi/HarmonyOS-Sans/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.woff') format('woff');
  }
  
  // 设置字体变量
  $vp-font: 'HarmonyOS_Sans_SC_Medium';
  $vp-font-heading: 'HarmonyOS_Sans_SC_Medium'; // 保持一致，使用相同的字体
  